<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @pullrequest.number %>
</p>

<%= link_to 'Edit', edit_pullrequest_path(@pullrequest) %> |
<%= link_to 'Back', pullrequests_path %>
